.categories
  .category(ui-sref="categories-details", ng-repeat="category in categories", ng-click="onCategorySelected();")
    //-.title {{category.title}}
    //-.key {{category-key}}
    img.background-image(ng-src="{{category.backgroundImage}}")
  img.footer-image(src="/assets/images/categories/footer.jpg")