.categories-details
  .sliders-containers
    .slider-pod
      h1 How Much time do you have?
      .slider(distance='')
        span.before 1 hr
        input.rangeinput.bar(type='range', name='time', min='1', max='3', ng-model='model.time')
        span.after 3+ hrs
    .slider-pod.odd
      h1 How deep are you pockets?
      .slider(distance='')
        span.before $
        input.rangeinput.bar(type='range', name='cost', min='5', max='40', ng-model='model.cost')
        span.after $$$
    .slider-pod
      h1 How Many Stops on your quest?
      .slider(distance='')
        span.before 2
        input.rangeinput.bar(type='range', name='stops', min='5', max='40', ng-model='model.stops')
        span.after 4+
    .slider-pod.odd
      h1 How adventurous are your taste buds?
      .slider(distance='')
        span.before not
        input.rangeinput.bar(type='range', name='adventurous', min='5', max='40', ng-model='model.adventurous')
        span.after very
    .slider-pod
      h1 Do you eat meat?
      .slider(distance='')
        span.before no
        input.rangeinput.bar(type='range', name='vegetarian',min='0',max='2', ng-model='model.vegetarian')
        span.after yes
    .slider-pod.odd
      h1 Are you dining al fresco?
      .slider(distance='')
        span.before inside
        input.rangeinput.bar(type='range', name='outside', min='0', max='2', ng-model='model.outside')
        span.after outside
  .pure-button(ui-sref="decision", ng-click='onComplete();')
    h1 Get Started