.categories-details
  .sliders-containers
    .slider-pod
      h1 How Much time do you have?
      .slider(distance='')
        span.before 1 hr
        input.rangeinput.bar(type='range', name='sliderBar',min='1',max='3')
        span.after 3+ hrs
    .slider-pod.odd
      h1 How deep are you pockets?
      .slider(distance='')
        span.before $
        input.rangeinput.bar(type='range', name='sliderBar',min='5',max='40')
        span.after $$$
        //output(for="sliderBar",onforminput="value = sliderBar.value")
    .slider-pod
      h1 How Many Stops on your quest?
      .slider(distance='')
        span.before 2
        input.rangeinput.bar(type='range', name='sliderBar',min='5',max='40')
        span.after 4+
        //output(for="sliderBar",onforminput="value = sliderBar.value")
    .slider-pod.odd
      h1 How adventurous are your taste buds?
      .slider(distance='')
        span.before not
        input.rangeinput.bar(type='range', name='sliderBar',min='5',max='40')
        span.after very
        //output(for="sliderBar",onforminput="value = sliderBar.value")
    .slider-pod
      h1 Do you eat meat?
      .slider(distance='')
        span.before no
        input.rangeinput.bar(type='range', name='sliderBar',min='5',max='40')
        span.after yes
        //output(for="sliderBar",onforminput="value = sliderBar.value")
    .slider-pod.odd
      h1 Are you dining al fresco?
      .slider(distance='')
        span.before inside
        input.rangeinput.bar(type='range', name='sliderBar',min='5',max='40')
        span.after outside
        //output(for="sliderBar",onforminput="value = sliderBar.value")
  .pure-button(ui-sref="decision")
    h1 Get Started