.login-options.pure-g
  h1.pure-u-1-1 Login with one of the following
  .google.pure-button.pure-button-primary.pure-u-1-1(ui-sref="splash")
    h1 google button
  .facebook.pure-button.pure-button-primary.pure-u-1-1(ui-sref="splash")
    h1 facebook button
  .foursquare.pure-button.pure-button-primary.pure-u-1-1(ui-sref="splash")
    h1 foursquare button
  .twitter.pure-button.pure-button-primary.pure-u-1-1(ui-sref="splash")
    h1 twitter button