.splash-container
  .welcome
    h1 Hello, Adventurer.
    h1 Relinquish control to the urban squire
      | and simplify your social life.
    h1 choose a path and embrace the journey
  .icon-mania
    .row1.pure-g.row1
      .pure-u-1-4.icon(ui-sref='distance')
        img.pure-img(src="/assets/images/icons/micro/orange-1.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-1.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/purple-1.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/teal-1.png")
    .row2.pure-g.row
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-2.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/orange-2.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-3.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/purple-2.png")
    .row3.pure-g.row1
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/teal-2.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-4.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/teal-3.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-5.png")
    .row4.pure-g.row
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-6.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/purple-3.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-7.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/orange-3.png")
    .row5.pure-g.row1
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/teal-4.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/orange-4.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-8.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/purple-4.png")
    .row6.pure-g.row
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-9.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/teal-5.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/purple-5.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-10.png")
    .row7.pure-g.row1
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/purple-6.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/black-11.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/orange-5.png")
      .pure-u-1-4.icon
        img.pure-img(src="/assets/images/icons/micro/teal-6.png")
  .pure-button(ui-sref="distance")
    h1 Get Started
