form.pure-u
  input#clubs(type='radio', name='fancy', autofocus='', value='clubs')
  input#hearts(type='radio', name='fancy', value='hearts')
  input#spades(type='radio', name='fancy', value='spades')
  input#diamonds(type='radio', name='fancy', value='diamonds')
  label(for='clubs') YOU
  label(for='hearts') WIN
  label(for='spades') THE
  label(for='diamonds') GAME
  .keys Use left and right keys to navigate
