.pure-g.victory-wrap
  .pure-u.victory-top
    h1 Welcome to {{location.name}}!

  form.pure-u-1.victory-mid
    input#clubs(type='radio', name='fancy', autofocus='', value='clubs')
    input#hearts(type='radio', name='fancy', value='hearts')
    input#spades(type='radio', name='fancy', value='spades')
    input#diamonds(type='radio', name='fancy', value='diamonds')
    label(for='clubs') 
      img.pure-img(src="/assets/images/icons/josh-friend.png") 
      <strong>PRO TIP:</strong> Megan's Desserts are works of art.
    label(for='hearts') 
      img.pure-img(src="/assets/images/icons/josh-friend.png") 
      <strong>PRO TIP:</strong> Build your own "Bloody Maria" Bar during lunch!
    label(for='spades')
      img.pure-img(src="/assets/images/icons/josh-friend.png") 
      <strong>PRO TIP:</strong> Ask for a shot of fernet. You'll be glad you did!
    label(for='diamonds')
      img(src="/assets/images/icons/josh-friend.png").pure-img 
      <strong>PRO TIP:</strong> Late night happy hours start at 10pm.
    .keys Use left and right keys to navigate
    button.pure-button.victory-button.vTip Add a Tip
    button.pure-button.victory-button.vStop(ui-sref="decision") Next Stop
    button.pure-button.victory-button.vFin(ui-sref="adventure-finish") FINISH MY ADVENTURE
