extends ../templates/main

block mainContent
  .intro-container(ng-cloak='')
    .dark-half
    .pure-g.splash
      .pure-1.splash-wrapper
    .light-half
  section.mainContent(ui-view, ng-cloak='', ng-class='className', scroller)

prepend endScripts
  - var views = ['splash', 'map', 'distance', 'categories', 'categories-details', 'decision', 'location-details', 'victory', 'adventure-finish']
  - each view in views
    +ngTemplate('/views/'+view)
