.adventure-time
  display block
  width 100%
  padding-bottom 15%
  img
    width 100%
  .pure-button
    position fixed
    z-index 5
    padding 5% 0
    left 0
    bottom 0
    width 100%
    margin 0
    background #000
    color #fff