.categories-details
  width 100%
  text-align center
  .slider-pod
    width 100%
    padding 5%
    background #e4e0cf
    &.odd
      background #d8d4c5
  .sliders-containers
    padding-bottom 17%
  .pure-button
    position fixed
    z-index 5
    padding 5% 0
    left 0
    bottom 0
    width 100%
    margin 0
    background #000
    color #fff