@require _globals

.decision
  position absolute
  top 0
  left 0
  right 0
  bottom 0

  &__options
    padding 0
    margin 0
    list-style none
    position absolute
    top 0
    left 0
    right 0
    bottom 0

  &__option
    position absolute
    z-index 1
    left 0
    right 0
    height 50%
    text-align center
    font-size 3.2em
    font-weight 500
    line-height 1.2
    cursor ns-resize
    user-select none
    transition all 0.5s

    background-repeat no-repeat
    background-size cover
    background-position center

    color white

    h3
      font-size 1.17em
      margin 0

    &--dragging
      z-index 3
      transition all 0s

    &--released
      z-index 2
      transition all 1s

    &--chosen
      z-index 3
      cursor auto

    &:before
      display inline-block
      vertical-align middle
      height 100%
      content ''

    &:first-child
      top 0
      //background-color aqua
      cursor s-resize

      & .decision__overlay
        background-image linear-gradient( to top, rgba(0,0,0,0.5), rgba(0,0,0,0.8))

    &:last-child
      top 50%
      cursor n-resize
      //background-color orangered
      & .decision__overlay
        background-image linear-gradient( to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8))

  &__mask
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-image radial-gradient(at center, rgba(0,0,0,0.33), rgba(0,0,0,0) 150%)

  &__overlay
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-repeat no-repeat
    opacity 0
    transition opacity 2s
    z-index 5

    &.dragging
      opacity 1
      .decision__option--dragging &
        opacity 0


  &__select
    display none
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    cursor pointer

    .decision__option--chosen &
      display block

  &__content
    display inline-block
    vertical-align middle
    position relative
    z-index 2

  &__overview
    position absolute
    z-index 10
    top 50%
    margin-top -40px
    width 50%
    height 80px
    left 25%
    background-color #d3cfc0
    pointer-events none
    transition opacity 0.5s
    opacity 1
    overflow hidden

    img
      display inline-block
      position: relative
      top 22px
      left 32px

    span
      background-color #e4e0cf
      display inline-block
      position absolute
      top 0
      bottom 0
      left 80px
      right 0
      text-transform uppercase
      text-align center
      letter-spacing 2px
      font-weight 500
      line-height 80px


    &.dragging
      opacity 0

  &__stats
    display block
    font-size 0.5em
    width 220px
    height 50px
    background imageUrl('decision/decision-stats.png') center center no-repeat
    background-size contain
    position relative
    margin 0 auto

  &__peeps
    position absolute
    top 12px
    left 25px
