@require _globals

.decision
  position absolute
  top 0
  left 0
  right 0
  bottom 0

  &__options
    padding 0
    margin 0
    list-style none
    position absolute
    top 0
    left 0
    right 0
    bottom 0

  &__option
    position absolute
    left 0
    right 0
    height 50%
    text-align center
    font-size 10em
    cursor ns-resize
    user-select none
    transition all 0.5s

    &--dragging
      z-index 3
      transition all 0s

    &--released
      z-index 2
      transition all 1s

    &--chosen
      z-index 3
      cursor auto

    &:before
      display inline-block
      vertical-align middle
      height 100%
      content ''

    &:first-child
      top 0
      //background-color aqua

      & .decision__overlay
        background-image linear-gradient( to top, rgba(0,0,0,0.5), rgba(0,0,0,0.8))

    &:last-child
      top 50%
      //background-color orangered
      & .decision__overlay
        background-image linear-gradient( to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8))

  &__overlay
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-repeat no-repeat
    opacity 0
    transition opacity 2s

    &.dragging
      opacity 1
      .decision__option--dragging &
        opacity 0


  &__select
    display none
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    cursor pointer

    .decision__option--chosen &
      display block

  &__content
    display inline-block
    vertical-align middle

  &__overview
    position absolute
    z-index 10
    top 50%
    margin-top -50px
    width 50%
    height 100px
    background-color rgba(0,0,0,0.5)
    border-radius 10px
    left 25%
    pointer-events none
    transition opacity 0.5s
    opacity 1

    &.dragging
      opacity 0
