.where-from
  text-align center
  .map-container
    position relative
    padding-bottom 100%
    width 100%
    height 0
    overflow hidden

    map.squireMap
      width 100%
      height 100% !important
      //padding-bottom 60%
      margin 0
      z-index 1
      position absolute
      left 0
      top 0
      
      &:before
        content ''
        position absolute
        left 0
        top 0
        height 100%
        width 100%
        background-color rgba(0,0,0,.8)
        opacity 0.75
        float left
        z-index 2
        pointer-events none
    .map-copy
      width 100%
      z-index 3
      top 35%
      text-align center
      position absolute
      color #fff
      h1
        padding 0
        margin 0
      h5
        padding 0
        margin 0
        line-height 7vw
      a
        color #fff
        text-decoration underline
        font-size 3vw
        margin 0
        padding 0
  .slider-pod
    padding 5%;
    background #e4e0cf
  .friend-pod
    padding 5%;
    background #d8d4c5
    .friends
      padding-top 2.5%
      .friend
        padding 0 1.5%

  .pure-button
    width 100%
    margin 0
    background #000
    color #fff