.where-from
  text-align center
  .map
    width 100%
    padding-bottom 59.5%
    background-image url("http://www.willhiteweb.com/tourism/kansas_city/kansas_city_map.jpg")
    background-repeat no-repeat
    background-size contain
  .pure-button
    width 100%
    margin 0
    background #000
    color #fff