// Imports.
//@import nib
@import "kouto-swiss/vars"
@import "kouto-swiss/functions"
@import "kouto-swiss/mixins"
@import "kouto-swiss/reset"
@import "kouto-swiss/utilities"
@import "kouto-swiss/grid"

ks-imported = yes

hashLookup(obj, key)
  obj[key]

imageUrl(image)
  url(s('%s/%s', unquote(hashLookup(paths, 'images')), unquote(image)))

// Font Family Stacks
sansStack = Helvetica, Arial, sans-serif

// Colors
cPurple = #372B5F
cTan = #E2D982
cRed = #D0471F
cTeal = #339BA1
cBlack = #121210
cWhite = #FFFFFC
cBlanket = rgba(0,0,0,0.3)

//Sizing
border-radius(n)
  border-radius n

futuraStack = "futura-pt", sansStack

