// Imports.
//@import nib
@import "kouto-swiss/vars"
@import "kouto-swiss/functions"
@import "kouto-swiss/mixins"
@import "kouto-swiss/reset"
@import "kouto-swiss/utilities"
@import "kouto-swiss/grid"

ks-imported = yes

hashLookup(obj, key)
  obj[key]

imageUrl(image)
  url(s('%s/%s', unquote(hashLookup(paths, 'images')), unquote(image)))

// Font Family Stacks
sansStack = Helvetica, Arial, sans-serif

// Colors
cPurple = #372B5F
cTan = #d4e0cf
cRed = #D0471F
cTeal = #339BA1
cBlack = #121210
cWhite = #FFFFFC
cGray = #5D5D5D
cBlanket = rgba(0,0,0,0.3)

//Sizing
border-radius(n)
  border-radius n
  
//Animation Structure

.mainContent.ng-enter {
  transform-origin 0% 50%
  animation: rotateRoomLeftIn .8s both ease
  z-index: 999;
}

.mainContent.ng-leave {
  transform-origin 100% 50%
  animation: rotateRoomLeftOut .8s both ease
}

.splash-wrapper {
  animation: splashAnimation 2s both ease
}

map.squireMap
  width 100%
  height 100%
  margin 0
  z-index 2
  
  &:before
    content ''
    position absolute
    left 0
    top 0
    height 100%
    width 100%
    background-color cRed
    opacity 0.75
    float left
    z-index 3
    pointer-events none

    
/* room walls */

@-webkit-keyframes rotateRoomLeftOut {
  from { }
  to { opacity: .3; -webkit-transform: translateX(-100%) rotateY(90deg); }
}
@keyframes rotateRoomLeftOut {
  from { }
  to { opacity: .3; -webkit-transform: translateX(-100%) rotateY(90deg); transform: translateX(-100%) rotateY(90deg); }
}

@-webkit-keyframes rotateRoomLeftIn {
  from { opacity: .3; -webkit-transform: translateX(100%) rotateY(-90deg); }
}
@keyframes rotateRoomLeftIn {
  from { opacity: .3; -webkit-transform: translateX(100%) rotateY(-90deg); transform: translateX(100%) rotateY(-90deg); }
}

@-webkit-keyframes rotateRoomRightOut {
  from { }
  to { opacity: .3; -webkit-transform: translateX(100%) rotateY(-90deg); }
}
@keyframes rotateRoomRightOut {
  from { }
  to { opacity: .3; -webkit-transform: translateX(100%) rotateY(-90deg); transform: translateX(100%) rotateY(-90deg); }
}

@-webkit-keyframes rotateRoomRightIn {
  from { opacity: .3; -webkit-transform: translateX(-100%) rotateY(90deg); }
}
@keyframes rotateRoomRightIn {
  from { opacity: .3; -webkit-transform: translateX(-100%) rotateY(90deg); transform: translateX(-100%) rotateY(90deg); }
}

@-webkit-keyframes rotateRoomTopOut {
  from { }
  to { opacity: .3; -webkit-transform: translateY(-100%) rotateX(-90deg); }
}
@keyframes rotateRoomTopOut {
  from { }
  to { opacity: .3; -webkit-transform: translateY(-100%) rotateX(-90deg); transform: translateY(-100%) rotateX(-90deg); }
}

@-webkit-keyframes rotateRoomTopIn {
  from { opacity: .3; -webkit-transform: translateY(100%) rotateX(90deg); }
}
@keyframes rotateRoomTopIn {
  from { opacity: .3; -webkit-transform: translateY(100%) rotateX(90deg); transform: translateY(100%) rotateX(90deg); }
}

@-webkit-keyframes rotateRoomBottomOut {
  from { }
  to { opacity: .3; -webkit-transform: translateY(100%) rotateX(90deg); }
}
@keyframes rotateRoomBottomOut {
  from { }
  to { opacity: .3; -webkit-transform: translateY(100%) rotateX(90deg); transform: translateY(100%) rotateX(90deg); }
}

@-webkit-keyframes rotateRoomBottomIn {
  from { opacity: .3; -webkit-transform: translateY(-100%) rotateX(-90deg); }
}
@keyframes rotateRoomBottomIn {
  from { opacity: .3; -webkit-transform: translateY(-100%) rotateX(-90deg); transform: translateY(-100%) rotateX(-90deg); }
}

// Splash Animation
@keyframes splashAnimation {
  from { opacity: 0;}
  to { opacity: 1; transform: translateY(-2%);}
}

futuraStack = "futura-pt", sansStack

h1
  font-size 2.5vw
  letter-spacing 2px
  text-transform uppercase
  font-weight 700
h2
  font-size 1.5vw
  letter-spacing 2px
  text-transform uppercase

h5
  font-size 9vw

.pure-button
  border-radius 0
