// Imports.
//@import nib
@import "kouto-swiss/vars"
@import "kouto-swiss/functions"
@import "kouto-swiss/mixins"
@import "kouto-swiss/reset"
@import "kouto-swiss/utilities"
@import "kouto-swiss/grid"

ks-imported = yes

hashLookup(obj, key)
  obj[key]

imageUrl(image)
  url(s('%s/%s', unquote(hashLookup(paths, 'images')), unquote(image)))

// Font Family Stacks
sansStack = Helvetica, Arial, sans-serif
futuraStack = "futura-pt", sansStack
