.login-options
  .pure-button
    margin 0 0 1%
    background-size 10%
    background-position center
    background-repeat no-repeat
    &.google
      background-image url("http://icons.iconarchive.com/icons/yootheme/social-bookmark/512/social-google-box-icon.png")
    &.facebook
      background-image url("http://www.rainyfrog.com/wp-content/uploads/2014/04/Facebook-Icon-1021x1024.png")
    &.foursquare
      background-image url("https://playfoursquare.s3.amazonaws.com/press/2014/foursquare-icon-512x512.png")
    &.twitter
      background-image url("http://seven50.org/wp-content/uploads/2014/08/twitter-icon.png")
    h1
      text-indent -99999px


