.map-wrap
  background url('http://theagilepirate.net/wp-content/uploads/arr_treasure.jpg') no-repeat center center fixed
  background-size cover
  min-width 100%
  min-height 100%
  position absolute
  top 0
  left 0
  h1
    font-size 5em
    text-align center
    text-decoration none
    color #ffffdd
    margin 20vh
  
