.map-wrap
  background url('http://theagilepirate.net/wp-content/uploads/arr_treasure.jpg') no-repeat center center fixed
  background-size cover
  min-width 100%
  min-height 100%
  position absolute
  top 0
  left 0
  h1
    font-size 5em
    text-align center
    text-decoration none
    color #ffffdd
    margin 20vh

map.squireMap
  width 100%
  height 100%
  margin 0
  z-index 2
  
  &:before
    content ''
    position absolute
    left 0
    top 0
    height 100%
    width 100%
    background-color cRed
    opacity 0.75
    float left
    z-index 3
    pointer-events none
