@require _globals

.splash
  //display none
  opacity 0
  z-index 2
  cursor pointer

[ng-cloak].intro-container
  display block !important
  opacity 1
  z-index 9999

.intro-container
  overflow hidden
  display none
  width 100%
  height 100%
  position absolute
  left  0
  top 0
  background #000

.splash
  transition opacity 1.0s
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  opacity 1
  z-index 15

.light-half
  left 0
  z-index 1
  height 100%
  position absolute
  width 100%
  background #e4e0cf
  animation moveDown 4s ease-in
  -moz-animation moveDown 4s ease-in
  -webkit-animation moveDown 4s ease-in
  -webkit-animation-iteration-count 1
  animation-iteration-count 1
  -webkit-animation-fill-mode forwards
  animation-fill-mode forwards


.dark-half
  left 0
  z-index 1
  height 100%
  position absolute
  width 100%
  background #d0471f
  animation moveUp 4s ease-in
  -moz-animation moveUp 4s ease-in
  -webkit-animation moveUp 4s ease-in
  -webkit-animation-iteration-count 1
  animation-iteration-count 1

.splash-wrapper
  background url('../images/logo/logo.png') no-repeat center center fixed
  background-size 50%
  min-width 100%
  min-height 100%
  position absolute
  z-index 3
  top -4%
  left 0
  
  h1
    text-align center
    margin 20vh auto
      
.icon-mania
  width 80%
  margin 0 auto
  .icon
    padding 0 5% 5%

// Splash Animation
@keyframes splashAnimation {
  from { opacity: 0; }
  to { opacity: 1; transform: translateY(-2%); }
}

.splash-wrapper {
  animation: splashAnimation 2s both ease
}



@keyframes moveUp {
   from {
      transform: translateY(-100%);
   }
   to {
      transform: translateY(-50%);
   }
}

@-moz-keyframes moveUp {
   from {
      -moz-transform: translateY(-100%);
   }
   to {
      -moz-transform: translateY(-50%);
   }
}

@-webkit-keyframes moveUp {
   from {
      -webkit-transform: translateY(-100%);
   }
   to {
      -webkit-transform: translateY(-50%);
   }
}

@keyframes moveDown {
   from {
      transform:  translateY(100%);
   }
   to {
      transform: translateY(50%);
   }
}

@-moz-keyframes moveDown {
   from {
      -moz-transform: translateY(100%);
   }
   to {
      -moz-transform: translateY(50%);
   }
}

@-webkit-keyframes moveDown {
   from {
      -webkit-transform: translateY(100%);
   }
   to {
      -webkit-transform: translateY(50%);
   }
}