.splash
  //display none
  opacity 0
  z-index 2
  cursor pointer

[ng-cloak].splash
  display block !important
  opacity 1
  z-index 9999

.splash
  transition opacity 1.0s
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  background #80d3ef

.splash-wrapper
  background url('http://fc06.deviantart.net/fs70/i/2013/338/c/1/muffin_knight_by_fluffytuli-d6wpfan.png') no-repeat center center fixed
  background-size cover
  min-width 100%
  min-height 100%
  position absolute
  top 0
  left 0
  
  h1
    text-align center
    margin 20vh auto
      
