- if (build === 'dev')
  +projectStyle('reset.css')
  +projectStyle('main.css')
- else
  style
    include ../../../public/assets/styles/reset.css
  style
    include ../../../public/assets/styles/main.css



