//-
  // moving to footer
  script(src='//maps.google.com/maps/api/js')
//-
  // sync method
  script(src='//use.typekit.net/tdl2szs.js')
  script.
    try { Typekit.load();} catch(e) {}

//-
  // async method
  // http://blog.typekit.com/2011/05/25/loading-typekit-fonts-asynchronously/
script.
  (function() {
    var config = {
      kitId: 'tdl2szs'
    };
    var d = false;
    var tk = document.createElement('script');
    tk.src = '//use.typekit.net/' + config.kitId + '.js';
    tk.type = 'text/javascript';
    tk.async = 'true';
    tk.onload = tk.onreadystatechange = function() {
      var rs = this.readyState;
      if (d || rs && rs != 'complete' && rs != 'loaded') return;
      d = true;
      try { Typekit.load(config); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(tk, s);
  })();
