- pageTitle = 'Urban Squire'
title=pageTitle
meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densityDpi=320dpi")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
meta(name="og:title", content=pageTitle)
meta(name="og:description", content="Relinquish control to the urban squire and simplify your social life. Discover the world around you.")
meta(name="og:image", content="http://urbansquire.blkblnkt.com/assets/images/logo/logo.png")
